In [1]:
import pandas as pd

In [2]:
archivo=pd.read_csv("https://raw.githubusercontent.com/ComputoCienciasUniandes/FISI2029-201910/master/Seccion_1/Fourier/Datos/transacciones2008.txt",sep=";", header=None, names=[ "a" , "b","c", "d" ] )
archivo["a"] = archivo["a"].astype(str).str[0:-8]
archivo["b"] = archivo["b"].astype(str).str[-8:]  
print(archivo)
#print(archivo)

                 a         b       c           d
0         2/1/2008   8:49:33  499,00   500000,00
1         2/1/2008   8:49:40  499,00   500000,00
2         2/1/2008   8:49:58  499,00   100000,00
3         2/1/2008   8:50:09  499,00   250000,00
4         2/1/2008   8:50:17  499,40   200000,00
5         2/1/2008   8:50:20  499,49   500000,00
6         2/1/2008   8:50:26  499,50   500000,00
7         2/1/2008   8:50:26  499,00   200000,00
8         2/1/2008   8:50:34  499,49   500000,00
9         2/1/2008   8:51:00  499,80   200000,00
10        2/1/2008   8:54:25  499,50   250000,00
11        2/1/2008   8:55:12  499,10  1000000,00
12        2/1/2008   8:55:40  499,30   150000,00
13        2/1/2008   8:55:57  499,10   200000,00
14        2/1/2008   8:56:10  498,90   200000,00
15        2/1/2008   8:56:13  498,85  1000000,00
16        2/1/2008   8:57:02  498,75   100000,00
17        2/1/2008   8:57:06  498,70  1000000,00
18        2/1/2008   8:57:14  498,00   100000,00
19        2/1/2008   8:58:38  498,40  1000000,00
20        2/1/2008   9:00:14  498,45   100000,00
21        2/1/2008   9:00:38  498,50   100000,00
22        2/1/2008   9:01:08  498,40   500000,00
23        2/1/2008   9:03:08  498,25   250000,00
24        2/1/2008   9:03:09  498,25   250000,00
25        2/1/2008   9:03:15  498,25   100000,00
26        2/1/2008   9:03:15  498,25   400000,00
27        2/1/2008   9:03:29  498,20  1000000,00
28        2/1/2008   9:03:29  498,25  1000000,00
29        2/1/2008   9:05:11  498,20   600000,00
...            ...       ...     ...         ...
443909  30/12/2008  12:31:03  641,10   700000,00
443910  30/12/2008  12:41:03  640,00   160000,00
443911  30/12/2008  12:41:07  639,52   120000,00
443912  30/12/2008  12:47:09  639,00   700000,00
443913  30/12/2008  12:50:21  641,00   500000,00
443914  30/12/2008  12:50:21  641,00   444000,00
443915  30/12/2008  12:50:33  641,00   500000,00
443916  30/12/2008  12:50:34  641,00   500000,00
443917  30/12/2008  12:50:35  641,00   500000,00
443918  30/12/2008  12:52:41  642,00   100000,00
443919  30/12/2008  12:58:21  642,00   150000,00
443920  30/12/2008  12:58:36  642,00   100000,00
443921  30/12/2008  12:59:31  642,00   150000,00
443922  30/12/2008  13:15:56  641,20   100000,00
443923  30/12/2008  13:16:19  641,20   100000,00
443924  30/12/2008  13:19:30  641,10   200000,00
443925  30/12/2008  13:19:32  641,10   200000,00
443926  30/12/2008  13:20:12  640,00   500000,00
443927  30/12/2008  13:20:16  640,00   500000,00
443928  30/12/2008  13:21:07  640,00   500000,00
443929  30/12/2008  13:22:44  640,15   350000,00
443930  30/12/2008  13:25:38  640,00   500000,00
443931  30/12/2008  13:27:52  640,50   100000,00
443932  30/12/2008  13:31:54  641,00   130000,00
443933  30/12/2008  13:39:55  640,60   250000,00
443934  30/12/2008  13:42:11  642,00   500000,00
443935  30/12/2008  13:42:25  642,00   300000,00
443936  30/12/2008  13:44:27  642,00   343000,00
443937  30/12/2008  13:51:22  642,00   110000,00
443938  30/12/2008  13:58:26  641,99   220000,00

[443939 rows x 4 columns]

In [6]:
archivo2=pd.read_csv("https://raw.githubusercontent.com/ComputoCienciasUniandes/FISI2029-201910/master/Seccion_1/Fourier/Datos/transacciones2009.txt",sep=";", header=None, names=[ "a" , "b","c", "d" ])
archivo2["a"] = archivo2["a"].astype(str).str[0:-8]
archivo2["b"] = archivo2["b"].astype(str).str[-8:] 
print(archivo2)

                 a         b       c           d
0         2/1/2009   8:47:06  640,00   250000,00
1         2/1/2009   8:51:37  639,00   500000,00
2         2/1/2009   8:53:04  639,50   500000,00
3         2/1/2009   8:53:09  639,90   500000,00
4         2/1/2009   8:53:19  639,90   500000,00
5         2/1/2009   8:53:21  639,90   500000,00
6         2/1/2009   8:53:54  640,90   100000,00
7         2/1/2009   8:56:33  641,20   100000,00
8         2/1/2009   8:56:59  641,50   171000,00
9         2/1/2009   8:57:02  641,20   150000,00
10        2/1/2009   8:57:03  641,15   100000,00
11        2/1/2009   8:58:06  641,00   100000,00
12        2/1/2009   8:58:16  641,00   300000,00
13        2/1/2009   8:58:34  640,22   100000,00
14        2/1/2009   9:00:02  640,15   571000,00
15        2/1/2009   9:00:03  640,15   500000,00
16        2/1/2009   9:02:00  641,00   150000,00
17        2/1/2009   9:02:01  641,00   150000,00
18        2/1/2009   9:05:35  641,00   100000,00
19        2/1/2009   9:05:37  641,20   100000,00
20        2/1/2009   9:05:47  641,30   100000,00
21        2/1/2009   9:05:49  641,20   100000,00
22        2/1/2009   9:05:50  641,40   700000,00
23        2/1/2009   9:05:59  641,40   100000,00
24        2/1/2009   9:05:59  641,30   100000,00
25        2/1/2009   9:06:00  641,50   100000,00
26        2/1/2009   9:06:01  641,50   150000,00
27        2/1/2009   9:06:03  641,55   150000,00
28        2/1/2009   9:06:04  641,90   500000,00
29        2/1/2009   9:06:20  641,85   100000,00
...            ...       ...     ...         ...
440438  30/12/2009  12:55:16  507,15   250000,00
440439  30/12/2009  12:55:17  507,00   615000,00
440440  30/12/2009  12:55:21  507,00   585000,00
440441  30/12/2009  12:56:21  507,00   250000,00
440442  30/12/2009  12:56:23  507,00   250000,00
440443  30/12/2009  12:58:09  507,00   600000,00
440444  30/12/2009  12:58:17  507,00   500000,00
440445  30/12/2009  13:00:18  507,05   500000,00
440446  30/12/2009  13:00:19  507,05   500000,00
440447  30/12/2009  13:00:24  507,05   500000,00
440448  30/12/2009  13:00:27  507,05   500000,00
440449  30/12/2009  13:00:28  507,05   500000,00
440450  30/12/2009  13:00:31  507,05   500000,00
440451  30/12/2009  13:01:12  507,15   500000,00
440452  30/12/2009  13:03:41  507,21   250000,00
440453  30/12/2009  13:03:41  507,20   500000,00
440454  30/12/2009  13:03:46  507,60   130000,00
440455  30/12/2009  13:04:32  507,50  2000000,00
440456  30/12/2009  13:08:18  507,60   200000,00
440457  30/12/2009  13:08:25  507,90   200000,00
440458  30/12/2009  13:12:08  507,50   100000,00
440459  30/12/2009  13:14:40  507,70   314000,00
440460  30/12/2009  13:20:58  507,25   500000,00
440461  30/12/2009  13:21:03  507,25   500000,00
440462  30/12/2009  13:21:07  507,25   500000,00
440463  30/12/2009  13:21:10  507,25   500000,00
440464  30/12/2009  13:21:14  507,25   500000,00
440465  30/12/2009  13:22:50  507,25   200000,00
440466  30/12/2009  13:23:08  507,25   100000,00
440467  30/12/2009  13:53:15  507,50  1000000,00

[440468 rows x 4 columns]

In [7]:
archivo3=pd.read_csv("https://raw.githubusercontent.com/ComputoCienciasUniandes/FISI2029-201910/master/Seccion_1/Fourier/Datos/transacciones2010.txt",sep=";", header=None, names=[ "a" , "b","c", "d" ])
archivo3["a"] = archivo3["a"].astype(str).str[0:-8]
archivo3["b"] = archivo3["b"].astype(str).str[-8:] 
print(archivo3)

                 a         b       c           d
0         4/1/2010   8:39:36  505,00   100000,00
1         4/1/2010   8:40:47  505,50   300000,00
2         4/1/2010   8:52:24  505,50   281000,00
3         4/1/2010   8:52:27  505,75   200000,00
4         4/1/2010   8:59:11  505,80   100000,00
5         4/1/2010   8:59:37  505,95   300000,00
6         4/1/2010   8:59:57  505,95   200000,00
7         4/1/2010   9:00:19  505,70   500000,00
8         4/1/2010   9:00:26  505,65   300000,00
9         4/1/2010   9:00:38  505,50   500000,00
10        4/1/2010   9:01:00  505,50   500000,00
11        4/1/2010   9:02:08  505,60   500000,00
12        4/1/2010   9:02:21  505,68   200000,00
13        4/1/2010   9:02:22  505,70   200000,00
14        4/1/2010   9:02:38  505,75  1000000,00
15        4/1/2010   9:02:46  505,70   250000,00
16        4/1/2010   9:03:52  505,80   700000,00
17        4/1/2010   9:03:57  506,00   500000,00
18        4/1/2010   9:03:58  506,00   100000,00
19        4/1/2010   9:04:12  506,00   100000,00
20        4/1/2010   9:04:29  506,00   250000,00
21        4/1/2010   9:04:31  506,00   250000,00
22        4/1/2010   9:05:14  506,11   350000,00
23        4/1/2010   9:05:38  506,18   100000,00
24        4/1/2010   9:05:39  506,20   300000,00
25        4/1/2010   9:05:55  506,30   300000,00
26        4/1/2010   9:06:32  506,20   100000,00
27        4/1/2010   9:07:47  506,00   180000,00
28        4/1/2010   9:07:48  506,00   250000,00
29        4/1/2010   9:07:49  506,00   250000,00
...            ...       ...     ...         ...
474337  30/12/2010  12:42:10  468,20   350000,00
474338  30/12/2010  12:45:21  468,50   150000,00
474339  30/12/2010  12:46:27  468,00  2000000,00
474340  30/12/2010  12:51:41  468,30   450000,00
474341  30/12/2010  12:51:41  468,00   400000,00
474342  30/12/2010  12:51:41  468,20   850000,00
474343  30/12/2010  12:51:45  468,30   450000,00
474344  30/12/2010  12:53:58  468,15   162000,00
474345  30/12/2010  12:54:53  468,00   550000,00
474346  30/12/2010  12:56:06  468,00   238000,00
474347  30/12/2010  12:56:55  467,90   280000,00
474348  30/12/2010  13:04:26  466,50   200000,00
474349  30/12/2010  13:09:24  467,50   500000,00
474350  30/12/2010  13:09:25  467,50   500000,00
474351  30/12/2010  13:10:41  467,50   500000,00
474352  30/12/2010  13:11:10  467,25   650000,00
474353  30/12/2010  13:11:14  467,15   270000,00
474354  30/12/2010  13:27:59  467,45   500000,00
474355  30/12/2010  13:29:24  467,35   500000,00
474356  30/12/2010  13:29:40  467,45   500000,00
474357  30/12/2010  13:29:53  467,50  3000000,00
474358  30/12/2010  13:30:11  467,50  1000000,00
474359  30/12/2010  13:31:35  467,28   600000,00
474360  30/12/2010  13:31:39  467,30   100000,00
474361  30/12/2010  13:31:40  467,40   250000,00
474362  30/12/2010  13:46:54  468,50   150000,00
474363  30/12/2010  13:52:09  468,60   250000,00
474364  30/12/2010  13:52:10  468,60   250000,00
474365  30/12/2010  13:52:42  468,70   150000,00
474366  30/12/2010  14:01:14  468,80   190000,00

[474367 rows x 4 columns]

In [9]:
pd.concat([archivo,archivo2,archivo3])

                 a         b       c           d
0         2/1/2008   8:49:33  499,00   500000,00
1         2/1/2008   8:49:40  499,00   500000,00
2         2/1/2008   8:49:58  499,00   100000,00
3         2/1/2008   8:50:09  499,00   250000,00
4         2/1/2008   8:50:17  499,40   200000,00
5         2/1/2008   8:50:20  499,49   500000,00
6         2/1/2008   8:50:26  499,50   500000,00
7         2/1/2008   8:50:26  499,00   200000,00
8         2/1/2008   8:50:34  499,49   500000,00
9         2/1/2008   8:51:00  499,80   200000,00
10        2/1/2008   8:54:25  499,50   250000,00
11        2/1/2008   8:55:12  499,10  1000000,00
12        2/1/2008   8:55:40  499,30   150000,00
13        2/1/2008   8:55:57  499,10   200000,00
14        2/1/2008   8:56:10  498,90   200000,00
15        2/1/2008   8:56:13  498,85  1000000,00
16        2/1/2008   8:57:02  498,75   100000,00
17        2/1/2008   8:57:06  498,70  1000000,00
18        2/1/2008   8:57:14  498,00   100000,00
19        2/1/2008   8:58:38  498,40  1000000,00
20        2/1/2008   9:00:14  498,45   100000,00
21        2/1/2008   9:00:38  498,50   100000,00
22        2/1/2008   9:01:08  498,40   500000,00
23        2/1/2008   9:03:08  498,25   250000,00
24        2/1/2008   9:03:09  498,25   250000,00
25        2/1/2008   9:03:15  498,25   100000,00
26        2/1/2008   9:03:15  498,25   400000,00
27        2/1/2008   9:03:29  498,20  1000000,00
28        2/1/2008   9:03:29  498,25  1000000,00
29        2/1/2008   9:05:11  498,20   600000,00
...            ...       ...     ...         ...
474337  30/12/2010  12:42:10  468,20   350000,00
474338  30/12/2010  12:45:21  468,50   150000,00
474339  30/12/2010  12:46:27  468,00  2000000,00
474340  30/12/2010  12:51:41  468,30   450000,00
474341  30/12/2010  12:51:41  468,00   400000,00
474342  30/12/2010  12:51:41  468,20   850000,00
474343  30/12/2010  12:51:45  468,30   450000,00
474344  30/12/2010  12:53:58  468,15   162000,00
474345  30/12/2010  12:54:53  468,00   550000,00
474346  30/12/2010  12:56:06  468,00   238000,00
474347  30/12/2010  12:56:55  467,90   280000,00
474348  30/12/2010  13:04:26  466,50   200000,00
474349  30/12/2010  13:09:24  467,50   500000,00
474350  30/12/2010  13:09:25  467,50   500000,00
474351  30/12/2010  13:10:41  467,50   500000,00
474352  30/12/2010  13:11:10  467,25   650000,00
474353  30/12/2010  13:11:14  467,15   270000,00
474354  30/12/2010  13:27:59  467,45   500000,00
474355  30/12/2010  13:29:24  467,35   500000,00
474356  30/12/2010  13:29:40  467,45   500000,00
474357  30/12/2010  13:29:53  467,50  3000000,00
474358  30/12/2010  13:30:11  467,50  1000000,00
474359  30/12/2010  13:31:35  467,28   600000,00
474360  30/12/2010  13:31:39  467,30   100000,00
474361  30/12/2010  13:31:40  467,40   250000,00
474362  30/12/2010  13:46:54  468,50   150000,00
474363  30/12/2010  13:52:09  468,60   250000,00
474364  30/12/2010  13:52:10  468,60   250000,00
474365  30/12/2010  13:52:42  468,70   150000,00
474366  30/12/2010  14:01:14  468,80   190000,00

[1358774 rows x 4 columns]